body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#loginFormContainer input:-webkit-autofill,
#loginFormContainer input:-webkit-autofill:hover,
#loginFormContainer input:-webkit-autofill:focus,
#loginFormContainer textarea:-webkit-autofill,
#loginFormContainer textarea:-webkit-autofill:hover,
#loginFormContainer textarea:-webkit-autofill:focus,
#loginFormContainer select:-webkit-autofill,
#loginFormContainer select:-webkit-autofill:hover,
#loginFormContainer select:-webkit-autofill:focus {
    -webkit-text-fill-color: black;
    transition: background-color 5000s ease-in-out 0s;
}

.loginMain {
    height: 100vh;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginFormContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 400px;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    background-color: rgba(64, 143, 61, 0.6);
}
.textbox{
    margin: 10px 10px 10px 10px;
    padding: 5px;
}
.textbox input{
    background-color: white;
    border:none;
    border-radius: 25px;
    height: 20px;
}
.loginFooter{
    display: flex;
    margin-top: 25px;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    height: auto;
}

.btn-c{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100px;
    border: none;
    padding: 0;
    margin-right: 5px;
    height: 30px;
    color: white;
    font-size: 14px;
    border-radius: 20px;
    background-color: #1073c4;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.btn-d{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 250px;
    margin-left: 5px;
    border: none;
    padding: 0;
    height: 30px;
    color: white;
    font-size: 14px;
    border-radius: 20px;
    background-color: #4d667a;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.btn-c:hover {
    color: rgb(193, 192, 192);
    background-color: #0f4775;
}
.btn-d:hover {
    color: rgb(193, 192, 192);
    background-color: #31414e;
}




.btn_entrar {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    border: none;
    padding: 0;
    height: 30px;
    color: white;
    font-size: 15px;
    border-radius: 20px;
    background-color: #1073c4;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.btn_entrar:hover {
    color: rgb(193, 192, 192);
    background-color: #0f4775;
}

@media only screen and (max-width: 450px) {
    #login_logo {
        position: relative;
        left: 10%;
        top: 30%;
        width: 300px;
    }
}